In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("ccocardio.csv",sep=';')

In [3]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df.shape

(70000, 13)

In [5]:
df["cardio"].value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

In [6]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [7]:
df["ages"] = (df["age"]/365).round(0)

In [8]:
 df["ages"]

0        50.0
1        55.0
2        52.0
3        48.0
4        48.0
         ...
69995    53.0
69996    62.0
69997    52.0
69998    61.0
69999    56.0
Name: ages, Length: 70000, dtype: float64

In [9]:
df.corr()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,ages
id,1.000000,0.003457,0.003502,-0.003038,-0.001830,0.003356,-0.002529,0.006106,0.002467,-0.003699,0.001210,0.003755,0.003799,0.003050
age,0.003457,1.000000,-0.022811,-0.081515,0.053684,0.020764,0.017647,0.154424,0.098703,-0.047633,-0.029723,-0.009927,0.238159,0.999090
gender,0.003502,-0.022811,1.000000,0.499033,0.155406,0.006005,0.015254,-0.035821,-0.020491,0.338135,0.170966,0.005866,0.008109,-0.023017
height,-0.003038,-0.081515,0.499033,1.000000,0.290968,0.005488,0.006150,-0.050226,-0.018595,0.187989,0.094419,-0.006570,-0.010821,-0.081456
weight,-0.001830,0.053684,0.155406,0.290968,1.000000,0.030702,0.043710,0.141768,0.106857,0.067780,0.067113,-0.016867,0.181660,0.053661
ap_hi,0.003356,0.020764,0.006005,0.005488,0.030702,1.000000,0.016086,0.023778,0.011841,-0.000922,0.001408,-0.000033,0.054475,0.020793
ap_lo,-0.002529,0.017647,0.015254,0.006150,0.043710,0.016086,1.000000,0.024019,0.010806,0.005186,0.010601,0.004780,0.065719,0.017754
cholesterol,0.006106,0.154424,-0.035821,-0.050226,0.141768,0.023778,0.024019,1.000000,0.451578,0.010354,0.035760,0.009911,0.221147,0.154386
gluc,0.002467,0.098703,-0.020491,-0.018595,0.106857,0.011841,0.010806,0.451578,1.000000,-0.004756,0.011246,-0.006770,0.089307,0.098596
smoke,-0.003699,-0.047633,0.338135,0.187989,0.067780,-0.000922,0.005186,0.010354,-0.004756,1.000000,0.340094,0.025858,-0.015486,-0.047884
alco,0.001210,-0.029723,0.170966,0.094419,0.067113,0.001408,0.010601,0.035760,0.011246,0.340094,1.000000,0.025476,-0.007330,-0.029918
active,0.003755,-0.009927,0.005866,-0.006570,-0.016867,-0.000033,0.004780,0.009911,-0.006770,0.025858,0.025476,1.000000,-0.035653,-0.009819
cardio,0.003799,0.238159,0.008109,-0.010821,0.181660,0.054475,0.065719,0.221147,0.089307,-0.015486,-0.007330,-0.035653,1.000000,0.237749
ages,0.003050,0.999090,-0.023017,-0.081456,0.053661,0.020793,0.017754,0.154386,0.098596,-0.047884,-0.029918,-0.009819,0.237749,1.000000

In [10]:
df = df.drop("id",axis=1)

In [11]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,ages
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [12]:
df = df.drop("age",axis=1)

In [13]:
df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,ages
0,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [14]:
x = df.drop('cardio',axis=1)

In [15]:
x.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,ages
0,2,168,62.0,110,80,1,1,0,0,1,50.0
1,1,156,85.0,140,90,3,1,0,0,1,55.0
2,1,165,64.0,130,70,3,1,0,0,0,52.0
3,2,169,82.0,150,100,1,1,0,0,1,48.0
4,1,156,56.0,100,60,1,1,0,0,0,48.0

In [16]:
y = df.cardio

In [17]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: cardio, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.30,random_state=55)

In [20]:
xtrain

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,ages
43694,1,160,80.0,160,100,1,1,0,0,1,59.0
55624,1,174,130.0,120,80,1,1,0,0,1,50.0
45552,2,186,115.0,120,80,1,1,0,0,1,58.0
56989,1,169,90.0,130,90,1,1,0,0,1,60.0
63157,2,172,113.0,120,80,1,1,0,0,1,58.0
...,...,...,...,...,...,...,...,...,...,...,...
38256,1,168,65.0,120,80,1,1,0,0,1,54.0
10213,2,170,75.0,120,80,1,1,0,0,1,62.0
16253,1,163,78.0,140,90,3,1,0,0,1,48.0
28967,1,159,103.0,160,100,1,1,0,0,1,54.0
4762,2,176,78.0,120,80,1,1,0,0,1,50.0

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
Rclf = RandomForestClassifier(n_estimators=100)

In [39]:
Rclf.fit(xtrain,ytrain)

RandomForestClassifier()

In [40]:
Rclf.score(xtest,ytest)

0.7124285714285714

In [41]:
Rclf.predict([[2169,1,160,80.0,160,100,1,1,0,0,1]])

C:\Users\LIS\anaconda3\envs\machine_learning\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
clf = DecisionTreeClassifier()

In [28]:
clf.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [29]:
clf.score(xtest,ytest)

0.6407619047619048

In [30]:
import pickle as pk

In [31]:
with open("my_model",'wb') as file:
    pk.dump(Rclf,file)

In [32]:
with open("my_model",'rb') as file:
    my_model1 = pk.load(file)

In [33]:
my_model1.predict([[2169,1,160,80.0,160,100,1,1,0,0,1]])

C:\Users\LIS\anaconda3\envs\machine_learning\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [34]:
my_model1.predict([[2171,1,160,80.0,160,100,1,1,0,1,1]])

C:\Users\LIS\anaconda3\envs\machine_learning\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)